<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <title>{{ chapter.title }}</title>
    <style>
        .header h1 {
            font-family: sans-serif;
        }
        .footnotes {
            font-size: 0.8em;
            color: #666;
        }
        .footnotes li {
            padding-bottom: 0.6em;
        }
        .illus {
            margin: 2em auto;
        }
        .illus .image,
        .illus .legend {
            text-align: center;
            font-size: 0.8em;
        }
        .sample-text {
            color: #ccc;
        }
        img.formula {
            display: inline;
            vertical-align: middle;
            height: 1.2em;
        }
        img.formula.svg {
            display: none;
        }
        @media amzn-kf8 {
            img.formula.png {
                display: none;
            }
            img.formula.svg {
                display: inline;
            }
        }
        hr.sample-text {
            margin: 1em 0;
            border: 1px dashed #eee;
        }
        pre.code, code.code {
            background-color: #efefef;
            font-family: monospace;
        }
        .fmt-align-left {
            text-align: left;
        }
        .fmt-align-center {
            text-align: center;
        }
        .fmt-align-right {
            text-align: right;
        }
        .fmt-bold {
            font-weight: bold;
        }
        .fmt-indent {
            text-indent: 2em;
        }
        .fmt-quote {
            font-style: italic;
        }
    </style>
</head>
<body class="chapter">
    <div class="header">
        <h1>{{ chapter.title }}</h1>
        {%- if chapter.subtitle %}
            <h2>{{ chapter.subtitle }}</h2>
        {%- endif %}
        <div class="author">
            {%- if chapter.orig_author %}
                <span class="orig-author">{{ chapter.orig_author }}</span>
            {%- endif %}
            {%- if chapter.translator %}
                <span class="translator">({{ chapter.translator }} 译)</span>
            {%- endif %}
        </div>
    </div>
    <div class="content">
        {%- for content in contents %}
            {% include "contents/%s.xhtml" % content.type %}
        {%- endfor %}
    </div>
    {%- if dml.footnotes %}
    {% include "contents/pagebreak.xhtml" %}
    <ol class="footnotes">
        {%- for footnote in dml.parsers.annotation.footnotes %}
        <li id="footnote-{{ loop.index0 }}">
            <a href="#footnote-ref-{{ loop.index0 }}">&#8617;</a>
            {{ footnote }}
        </li>
        {%- endfor %}
    </ol>
    {%- endif %}
</body>
</html>
{# vim:set ft=jinja: #}
